@page
@model SusinLake.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<body>
    The Susin Lake Association is run by volunteers who also live on the lake. If you would like to get in contact with them for assistance with using the boat launch or have concerns, their contact information is listed below.

    <br><br>
    <center>
    <table class="contact">
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Phone Number</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>Brad Abel</td>
            <td>President</td>
            <td>555-666-7777</td>
            <td><a href="mailto:Email@SusinLake.org">Email@SusinLake.org</a></td>
        </tr>
        <tr>
            <td>Steve Vaughn</td>
            <td>Vice President</td>
            <td>555-666-7777</td>
            <td><a href="mailto:Email@SusinLake.org">Email@SusinLake.org</a></td>
        </tr>
        <tr>
            <td>Marian Lawson</td>
            <td>Treasurer</td>
            <td>555-666-7777</td>
            <td><a href="mailto:Email@SusinLake.org">Email@SusinLake.org</a></td>
        </tr>
        <tr>
            <td>Chris Cooper</td>
            <td>Other</td>
            <td>555-666-7777</td>
            <td><a href="mailto:Email@SusinLake.org">Email@SusinLake.org</a></td>
        </tr>
    </table>
    </center>
</body>
