@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Welcome to Susin Lake!</h2><p> View our <a href="#events">calendar</a></p>
     <!-- Drone Photo, July 3rd -->
    <img class="frontAndCenter" src="https://i.imgur.com/e7uxkT2.png" alt="Susin Lake Aerial Photo" style="max-width:75%;" title="Susin Lake July 3rd, 2021">
    <p>Susin Lake July 3rd, 2021</p>

    <h3><a name="events">Notable Events</a></h3>
    <iframe src="https://calendar.google.com/calendar/embed?src=4tnp5g4gj4cnlrt9q72r3qj2tk%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

</div>

