@page
@model SusinLake.Pages.LakeInfoModel
@{
    ViewData["Title"] = "Lake Info";
}

<body>

    <h6>
        
        <a href="#">History</a> | 
        <a href="#">The Dam</a> | 
        <a href="#"></a>
    </h6>

</body>