@page
@model SusinLake.Pages.LakeRulesModel
@{
    ViewData["Title"] = "Lake Rules";
}

<body>
    <h1>Boating on Susin Lake</h1>
    <h6>
        <a href="#general">General Rules</a> | 
        <a href="#pwc">PWC Specific Rules</a> | 
        <a href="/BoatLaunch">Boat Launch Info</a>
    </h6>

    Susin lake is a very small lake with less than 50 acres of water surface, so we must work together to assure safe boating.
    The small size of the lake dictates that boats towing skiers, boarders, and tubes must be especially vigilant and follow the rules.#general

    <h2><a name="general" id="general"></a>General Rules</h2>
    By law, all lakes here in Michigan follow a counter-clockwise boating path as illustrated below. <br><br>
    <img src="https://i.imgur.com/m8vKfCt.jpg" alt="Susin Lake boat lane and direction illustration">
    <br><br>
    Please take note of these important Michigan boating laws.
    <ul>
        <li>All watercraft, unless exempt, must be registered with the Michigan Department of State and display a registration decal.</li>
        <li>Those born on or after July 1, 1996 may legally operate a motorized boat over 6 horsepower only if they have been issued a boating safety certificate and have it in their possession.</li>
        <li>Those born before July 1, 1996 may legally operate a boat without restrictions.</li>
        <li>It is <u>illegal</u> to harass the wildlife on the lake. Swans can be dangerous when provoked.</li>
    </ul>

    <br><br>

    <h2><a name="pwc" id="pwc"></a>PWC Specific Rules</h2>
    <ul>
        <li>A PWC must maintain at least 150 feet distance from other boats. This means that traveling around the island when other boats are behind the island is illegal.</li>
        <li>Anyone riding on or being towed by a PWC must wear an approved PFD.</li>
        <li>Those at least 16 years of age and born after Dec. 31, 1978 may legally operate a PWC only if they have obtained a boating safety certificate.</li>
        <li>Those born on or before Dec. 31, 1978 may operate a PWC legally without restrictions.</li>
        <li>Learn more about PWC restrictions <a href ="https://www.michigan.gov/dnr/things-to-do/boating/rules-and-regs/age-restrictions">here.</a></li>
    </ul>

    <br><br>

    <h2><a name="safety" id="safety"></a>Important Safety Information</h2>
    <ul>
        <li>All vessels must be equipped with USCG-approved personal flotation devices (PFDs), also known as life jackets. There must one available for each person aboard.</li>
        <li>There are 4 different types of PFDs. Learn more <a href="https://www.michigan.gov/dnr/things-to-do/boating/rules-and-regs/life-jacket-rules">here.</a></li>
        <li>To maintain a proper distance when you are operating at greater than no wake speed, 
            the vessel or persons being towed must not be within 100 feet of
            a shoreline (if operating in water less than three feet deep),
            any moored or anchored vessel, and docks/rafts.</li>
        <li>All vessels must have a fire extinguisher onboard if equipped with an inboard engine. This includes direct-drive, v-drive, inboard outboard or stern drives, and PWCs.</li>
    </ul>
    
</body>